{% load staticfiles %}
  <!--<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>

    <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>-->


    <script src="{% static 'bower_components/angular/angular.js' %}"></script>
    <script src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
  <!--<script src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
  <script src="{% static 'bower_components/angular-sanitize/angular-sanitize.min.js' %}"></script>
  <script src="{% static 'bower_components/ngstorage/ngStorage.js' %}"></script>
  <script src="{% static 'bower_components/angular-aria/angular-aria.js' %}"></script>-->

  <script src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.js' %}"></script>






  <script src="{% static 'aadharGroupApp.js' %}"></script>
  <script src="{% static 'aadharGroupApp.config.js' %}"></script>
  <script src="{% static 'aadharGroupApp.routes.js' %}"></script>

  <script src="{% static 'javascripts/home/aadharGroupApp.index.module.js' %}"></script>
  <script src="{% static 'javascripts/home/controllers/aadharGroupApp.index.controller.js' %}"></script>
  <script src="{% static 'javascripts/home/services/aadharGroupApp.index.services.js' %}"></script>
  <script src="{% static 'javascripts/home/directives/aadharGroupApp.index.directives.js' %}"></script>
  

