
{% load staticfiles %}

{% comment %}
  <link rel="stylesheet" href="{% static 'lib/css/custom/index.css' %}">
  <link rel = "stylesheet" href="{% static 'bower_components/html5-boilerplate/css/normalize.css' %} ">
  <link rel="stylesheet" href="{% static 'bower_components/html5-boilerplate/css/main.css' %} ">

  <script src="{% static 'bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js' %}  "></script>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %} ">
{% endcomment %}
